
<div>
  <h4>Todos los usuarios</h4>

  <p>... aqui irán</p>

    {{#each totalUsers}}
      <h5>nombre:{{name}}</h5>
      <p>{{candy}}</p>
      <p>{{likesPokemon}}</p>
      <p>{{pizzaToppings}}</p>
    {{/each}}

</div>